.ui.container {
  margin-top: 10px;
}

.header,
.description {
  color: black;
}

.content {
  margin: 8px;
}

.header {
  font-size: 17px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.title {
  font-size: 40px;
  font-weight: bold;
  color: teal;
  margin-bottom: -5px;
}

.register,
.login {
  font-size: 40px;
  font-weight: bold;
  color: teal;
  margin-bottom: 50px;
}

.category {
  opacity: 0.6;
  font-size: 17px;
}

.category.condo {
  color: green;
}

.category.bunglow {
  color: blue;
}

.category.appartment {
  color: red;
}

.city {
  font-size: 17px;
}

.description {
  font-size: 15px;
}

.bedrooms {
  font-size: 16px;
}

hr {
  opacity: 0.4;
}

.text {
  position: absolute;

  margin: 0 auto;
  left: 0;

  top: 10%; /* Adjust this value to move the positioned div up and down */
  right: 0%;
  width: 60%;
  color: white;
  /* Set the width of the positioned div */
}

.ui.segment {
  color: transparent;
}

.text h1 {
  font-size: 60px;
}

.text p {
  font-size: 20px;
}

.login_image {
  width: 100%;
  height: 100vh;
  margin-bottom: -40px;
}

.register_Image {
  width: 150vh;
  height: 100vh;
  margin-bottom: -40px;
}

.hello {
  margin-right: 40px;
}

.asset {
  color: teal;
}
